<!DOCTYPE html>
<html>
<head>
    <title>Live Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <!-- Top Bar -->
    <div style="display:flex; justify-content:space-between; align-items:center;">
        <h2>🎥 Live Detection</h2>

        <div>
            <span style="margin-right:15px;">
                Welcome {{ session['user'] }}
            </span>

            <a href="{{ url_for('logout') }}">
                <button class="btn btn-danger">Logout</button>
            </a>
        </div>
    </div>

    <hr>

    <!-- Video Feed -->
    <img src="{{ url_for('video_feed') }}" width="100%">

</div>

</body>
</html>